* {
  font-family: "Lucida Sans Unicode";
  color: white;
  box-sizing: border-box;
}

body {
  margin: 5px;
  padding: 5px;
  background-color: #121F3D;
}

h1, h2{
  text-align: center;
}

/*Acomodar div*/
.columna {
  float: left;
  display: block;
  width: 50%;
  padding-right: 5px;
}

.fila::after {
  content: "";
  clear: both;
  display: table;
}

img {
  /* Para que sea responsiva */
  width: 100%;
}

/*Decoración para cada comando y su descripción*/
ul li p {
  padding: 2px;
  margin: 0;
  text-align: left;
  font-weight: lighter;
}

li {
  font-weight: bold;
  margin-top: 10px;
  color: #ff918e;
  text-align: left;
  font-family: Verdana;
}

.lRoja {
  font-weight: bold;
  display: inline;
  color: rgb(255, 62, 62);
}

.lVerde {
  font-weight: bold;
  display: inline;
  color: #7bff8c;
}

.lAzul {
  font-weight: bold;
  display: inline;
  color: #43c9f4;
}
